.card {
  width: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  min-height: 400px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: absolute;
  z-index: 500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card a img {
  width: 280px;
  height: auto;
}

.details {
  padding: 16px 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.text * {
  font-style: normal;
  line-height: 175%;
}

.text h1 {
  font-weight: bold;
  font-size: 16px;
  color: var(--black);
} 

.text p {
  font-weight: 600;
  font-size: 12px;
  color: var(--black);
}
.fields {
  display: flex;
  gap: 8px;
  width: 100%;
  flex-direction: column;
}

.inputField {
  width: 100%;

  font-weight: 600;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  background-color: var(--white);
  height: 32px;
  padding: 6px 8px;
}

.inputField::placeholder {
  color: var(--gray);
}
.fields p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: var(--black);
  line-height: 175%;
}

.fields p a {
  font-family: Montserrat;
  color: var(--theme-color);
  font-weight: bold;
  font-style: normal;
}

button {
  color: white;
  border: none;
  background-color: var(--theme-color);
  width: min-content;
  padding: 4px 16px;
  border-radius: 4px;
  /* box-shadow: 0px 4px 12px rgba(67, 97, 238, 0.5); */

  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  line-height: 175%;
  transition: 100ms ease;
  display: flex;
  align-items: center;
  gap: 8px;
}
button.disabled {
  cursor: not-allowed;
  user-select: none;
  filter: grayscale(1);
}

button:hover {
  box-shadow: 0px 4px 12px rgba(67, 97, 238, 0.5);
  transform: translateY(-1px);
}

button:active {
  transform: translateY(1px);
}

button img {
  filter: invert(1);
  mix-blend-mode: screen;
  width: 16px;
  height: 16px;
}
